@font-face {
  font-family: "iconfont"; /* Project id 3530235 */
  /* Color fonts */
  src: 
       url('iconfont.woff2?t=1658213816249') format('woff2'),
       url('iconfont.woff?t=1658213816249') format('woff'),
       url('iconfont.ttf?t=1658213816249') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paixu:before {
  content: "\e601";
}

.icon-xiangshang:before {
  content: "\e602";
}

.icon-xiangshang1:before {
  content: "\e603";
}

.icon-xiangxia:before {
  content: "\e604";
}

.icon-shaixuan:before {
  content: "\e64f";
}

.icon-shaixuanfenlei:before {
  content: "\e6b3";
}

.icon-shaixuan1:before {
  content: "\f4bf";
}

.icon-shaixuan2:before {
  content: "\e615";
}

.icon-sousuo:before {
  content: "\e644";
}

.icon-sousuo1:before {
  content: "\e64a";
}

.icon-sousuo2:before {
  content: "\e600";
}

.icon-sousuo3:before {
  content: "\e723";
}

.icon-caidan:before {
  content: "\e613";
}

.icon-NMStubiao-:before {
  content: "\e627";
}

.icon-caidan1:before {
  content: "\e7fa";
}

.icon-caidan2:before {
  content: "\e608";
}

.icon-fanhuidingbu:before {
  content: "\e620";
}

.icon-fanhuidingbu1:before {
  content: "\e64d";
}

.icon-fanhui:before {
  content: "\e716";
}

.icon-fanhui2:before {
  content: "\e7f9";
}

.icon-celveshezhi:before {
  content: "\e6a2";
}

.icon-dailiguanli:before {
  content: "\e6a3";
}

.icon-gengduomokuai:before {
  content: "\e6a4";
}

.icon-dingdanguanli:before {
  content: "\e6a5";
}

.icon-jinxiangxitong:before {
  content: "\e6a6";
}

.icon-daizhangguanli:before {
  content: "\e6a7";
}

.icon-qudaoguanli:before {
  content: "\e6a8";
}

.icon-houtaiguanli:before {
  content: "\e6a9";
}

.icon-qiyeku:before {
  content: "\e6aa";
}

.icon-shouhoufuwu:before {
  content: "\e6ab";
}

.icon-wodeqiye:before {
  content: "\e6ac";
}

.icon-shujutongji:before {
  content: "\e6ad";
}

.icon-xiaoxiangxitong:before {
  content: "\e6ae";
}

.icon-shuipanguanli:before {
  content: "\e6af";
}

.icon-zhifuxitong:before {
  content: "\e6b0";
}

.icon-yuangongguanli:before {
  content: "\e6b1";
}

.icon-zhiwuquanxian:before {
  content: "\e6b2";
}

